album {
    background-color: aqua;
}

cancion {
    display: block;
    margin: solid black;
    text-align: center;
}

musica {
    background-image: url("fondomadera.jpg");
}

cd1 {
    margin: solid;
    margin: black;
    position: absolute;
    height: 410px;
    width: 160px;
    display: block;
    float: left;
    left: 270px;
    top: 180px;
    background-color: burlywood;
}

cd2 {
    margin: solid;
    margin: black;
    position: absolute;
    display: block;
    height: 410px;
    width: 160px;
    float: right;
    right: 270px;
    top: 180px;
    background-color: burlywood;
}

titulo_album {
    display: block;
    text-align: center;
    font-size: xx-large;
    padding-bottom: 50px;
    position: absolute;
    float: center;
    top: 40px;
    right: 200px;
    left: 200px;
}

numero {
    display: list-item;
    text-align: left;
    padding-bottom: 20px;
    left: 9mm;
    position: absolute;
    padding-bottom: 10px;
}

titulo_cancion {
    font-weight: 700;
    display: block;
    padding: 10px;
}

artista {
    float: right;
    position: absolute;
    height: 1280px;
    width: 180px;
    background-color: antiquewhite;
    left: 1100px;
    display: block;
    text-align: center;
    margin-bottom: solid black;
    top: 60px;
}

bio_artista {
    float: right;
    position: absolute;
    height: 1280px;
    width: 180px;
    left: 1100px;
    top: 120px;
    background-image: url(../fondo\ silvia.jpg);
    text-align: center;
    text-rendering: optimizeLegibility;
}