vehiculo1 {
    display: block;
    height: 530px;
    width: 2560px;
    border: solid black;
    background-image: url("ford-focus-nuevo_1_2560x560.jpg");
}

vehiculo2 {
    display: block;
    height: 530px;
    width: 2560px;
    float: left;
}

marca {
    display: block;
    width: 2560px;
    height: 70px;
    float: left;
}

ficha _tecnica {
    height: 560px;
    width: 410px;
    position: absolute;
    left: 70px;
    background-image: url("hoja\ blanca.jpg");
}

modelo {
    display: block;
    width: 2560px;
    height: 70px;
    float: left;
}

motor {
    display: block;
    width: 2560px;
    height: 70px;
    float: left;
}

matricula {
    display: block;
    width: 2560px;
    height: 70px;
    float: left;
}

kilometros {
    display: block;
    width: 2560px;
    height: 70px;
    float: left;
}

precio_inicial {
    display: block;
    width: 2560px;
    height: 70px;
    float: left;
}

precio_oferta {
    display: block;
    width: 2560px;
    height: 70px;
    float: left;
}

extra {
    display: block;
    width: 2560px;
    height: 70px;
    float: left;
}