vehiculo1 {
    display: block;
    height:530px;
    width:2560px;
    border: solid black;
    background-image: url("ford-focus-nuevo_1_2560x560.jpg");

}
vehiculo2 {
    display: block;
    height:530px;
    width:2560px;
    border: solid black;

}
marca {
    display: block;
    text-align: center;
    width: 2560px;
    height:35px;
    background-color: red;
    background-position: 35px;
}
modelo::before {
    padding-top: 35px;
}
modelo {
    display: block;
    text-align: center;
    width: 2560px;
    height:35px;
    padding-bottom: 35px;
}
motor{
    display: block;
    text-align: center;
    width: 2560px;
    height:35px;
    padding-bottom: 35px;
}
matricula {
    display: block;
    text-align: center;
    width: 2560px;
    height:35px;
    padding-bottom: 35px;
}
kilometros {
    display: block;
    text-align: center;
    width: 2560px;
    height:35px;
    padding-bottom: 35px;
}
precio_inicial {
    display: block;
    text-align: center;
    width: 2560px;
    height:35px;
    padding-bottom: 35px;
}
precio_oferta {
    display: block;
    text-align: center;
    width: 2560px;
    height:35px;
    padding-bottom: 30px;
}
extra {
    display: block;
    text-align: center;
    width: 2560px;
    height:35px;
}